{% extends "base.html"%}
{% load static %}

{% block c%} Create Brand {%endblock%}

{%block title %} Create Brand {%endblock%}
{% load crispy_forms_tags %}

{% block content%}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 ml-5">
          <div class="col-sm-6">
            <h1 class="m-0">{{title}}</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="container">
        <p>Add Brand</p>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form |crispy }}
            <br>
            <button>Submit</button>
        </form>
    </div>
    

{%endblock%}


   