{% extends "base.html"%}
{% load static %}

{% block c%} Create Car {%endblock%}

{%block title %} Create Car {%endblock%}
{% load crispy_forms_tags %}

{% block content%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 ml-5">
          <div class="col-sm-6">
            <h1 class="m-0">{{title}}</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <!-- {{form }} -->
                        
                        <!-- {% for field in form %}
                            {{field | as_crispy_field }}
                        {% endfor %} -->
    
                        {% load crispy_forms_tags %}
                            {{ form |crispy }}
                        <button type='submit' class="btn btn-success">Save</button>
                    </form>
            </div>
        </div>

    </div>

</body>
</html>
{%endblock%}